/*FUENTES CON BUCLE*/
@each $i, $k in $fonts{
	.font-#{$i}{
		font-weight: $k;
	}

}

@mixin fondoConCover($imagen){
	background-image: url($imagen);
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	width: 35%;
}